---
version: 3
build_arg_defaults:
  ANSIBLE_GALAXY_CLI_COLLECTION_OPTS: '--pre'
images:
  base_image:
    name: "registry.redhat.io/ansible-automation-platform-26/ee-minimal-rhel9:latest"
additional_build_files:
  - src: ansible.cfg
    dest: configs
#  - src: dynatrace-oneagent-1.1.0.tar.gz
#    dest: configs
dependencies:
  ansible_core:
    package_pip: ansible-core
  ansible_runner:
    package_pip: ansible-runner

  galaxy:
    collections:
      - ansible.controller
      - ansible.eda
      - ansible.posix
      - community.general
      - containers.podman
      - kubernetes.core
      - redhat.openshift
      - redhat.insights
      - servicenow.itsm
      # - name: /home/runner/dynatrace-oneagent-1.1.0.tar.gz
      #   type: file

  python:
    - six
    - psutil
    - requests
    - pywinrm
    - cryptography
    - pyOpenSSL
    - requests-oauthlib

  python_interpreter:
    package_system: "python3.9"
    python_path: "/usr/bin/python3"

  system:
    - iputils [platform:rpm]
    - gcc [platform:rpm]
    - pkgconf-pkg-config [platform:rpm]
    - systemd-devel [platform:rpm]
    - python3-devel [platform:rpm]

options:
  package_manager_path: /usr/bin/microdnf
additional_build_steps:
  prepend_final:
    - ENV PKGMGR_OPTS="--nodocs --setopt=install_weak_deps=0 --setopt=rhocp-4.16-for-rhel-9-x86_64-rpms.enabled=true"
  prepend_galaxy:
    - COPY _build/configs/ansible.cfg /home/runner/.ansible.cfg
  prepend_builder:
    - ENV PKGMGR_OPTS="--nodocs --setopt=install_weak_deps=0 --setopt=rhocp-4.20-for-rhel-9-x86_64-rpms.enabled=true"
    - RUN microdnf install -y yum-utils && yum-config-manager --add-repo https://rpm.releases.hashicorp.com/RHEL/hashicorp.repo && microdnf -y install terraform && rpm --import https://packages.microsoft.com/keys/microsoft.asc && rpm -i https://packages.microsoft.com/config/rhel/8/packages-microsoft-prod.rpm && microdnf -y install azure-cli
